.button {
  height: 230px;
  width: auto;
  margin: 0 2em 2em 0;
  display: block;
  position: relative;
  float: right;
  img {
    height:200px;
    width: auto;
    display: block;
    position: relative;
    z-index: 2;
    left: -30px;
    top: 1.5em;
  }
}

.btn {
  cursor: pointer;
  color: $white;
  font-weight: 900;
  text-decoration: none;
  padding: 0 35px;
  width: auto;
  height: 50px;
  transition: all .3s;
  border-radius: $border-radius-btn;
  position: relative;
  font-size: 1.15em;
  background-color: $green;
  box-shadow: $box-shadow;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    box-shadow: none;
  }
}

.btn-next-step {
  width: auto;
  background: $green url(../img/arrow-right.svg) no-repeat 90% center;
  background-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 9px;
  font-size: 1.5em;
  padding: 0 4em 0 2em;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  &:hover {
    background: $green url(../img/arrow-right.svg) no-repeat 92.5% center;
    background-size: 20px;
  }
}

.button.hide {
  display: none;
}


@media only screen and (min-width: $md-width) {
  .button {
    margin: 0 8em 1em 0;
  }
  .btn {
    top: 78%;
    left: 0;
  }
}


@media only screen and (min-width: $lg-width) {
  .button {
    margin: 0 8em 3em 0;
  }
}
