.cols--intro-animation {
  margin: -2.4em 0 -2.4em -3.2em;
  position: relative;
  .col {
    z-index: 1;
  }
}

.col--intro-illustration {
  display: none;
}

.intro-animation--bg {
  background: url("../images/illustrations/intro-bg-equations.png") no-repeat -460px top
  ;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: .4;
  animation-delay: .5s;
  z-index: 0;
}

#illustration--robots {
  margin: 4.8em 0 0 -.8em;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleshadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .15;
  }
}

@keyframes fadeinflames {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .75;
  }
}

  @keyframes scale {
    0% {
      transform: scale(.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.5);
    }
  }

  @keyframes headtilt {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animation--title {
    margin: -2.4em auto;
  }
  
  
  .fade-in {
    opacity: 0;
    animation: fadein 6s forwards ;
  }
  
  .delay-1 {
    animation-delay: 1s;
  }
  
  .delay-2 {
    animation-delay: 2s;
  }
  
  .delay-3 {
    animation-delay: 3s;
  }
  
  .flame {
    animation: fadeinflames 2s ease-in-out infinite, scale 2s ease-in infinite;
    transform-box: fill-box;
    transform-origin: center top;
  }
  
  #shadow {
    animation: scale 6s infinite, scaleshadow 1s ease-in forwards;
    transform-box: fill-box;
    transform-origin: center;
    animation-delay: 3s;
  }
  
  #robot-1 {
    animation: float 6s infinite, fadein 1s ease-in forwards;
    animation-delay: 3s;
  }

  #head {
    animation: headtilt 3s infinite;
    transform-box: fill-box;
    transform-origin: center;
  }
    @keyframes arm {
      0% {
        transform: rotate(0deg) translate(0, 0);
      }
      5% {
        transform: rotate(-5deg) translate(-5px, 5px);
      }
      10% {
        transform: rotate(0deg) translate(0, 0);
      }
      15% {
        transform: rotate(-5deg) translate(-5px, 5px);
      }
      20% {
        transform: rotate(0deg) translate(0, 0);
      }
      100% {
        transform: rotate(0deg) translate(0, 0);
      }
    }
    
    @keyframes floatrobot2 {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(2.5%, 0) ;
      }
      50% {
        transform: translate(0, 0);
      }
      75% {
        transform: translate(0, 1.5%);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    
    .delay-4 {
      animation-delay: 4s;
    }
    
    .delay-5 {
      animation-delay: 5s;
    }
    


    #robot-2 {
      animation: floatrobot2 12s infinite, fadein 1s ease-in forwards;
      animation-delay: 4s;
      opacity: 0;
    }
    
    
    #robot-3 {
      animation: fadein 1s ease-in forwards;
      animation-delay: 4s;
      opacity: 0;
    }

    #robot-3-arm{
      animation: arm 4s infinite ease-in-out;
      transform-box: fill-box;
      transform-origin: center;
    }
    
  @media only screen and (min-width: $sm-width) { 
    
    .cols--intro-animation {
      margin: -6.4em auto 0;

    }
    
    .col--intro-title {
      margin: 0;
    }
    .col--intro-illustration {
      display: flex;
    }
    #animation--title {
      margin:9.6em 0 0 -.8em;
    }
    #illustration--robots {
      margin:7.2em 0 0 -.8em;
    }
    .intro-animation--bg {

      background: url("../images/illustrations/intro-bg-equations.png") no-repeat center center;
      animation: fadein 3s ease-in forwards;
    }
  }
  
  @media only screen and (min-width: $lg-width) { 
    
    .cols--intro-animation {
      margin: -8em auto 0;

    }
    #illustration--robots {
      margin:7.2em 0 0 -2.4em;
    }
  }
