.timeline-holder { margin: 0 0 8rem; outline:none;}
.timeline { margin: 0 -2rem 4rem; }
.slide { padding: 2rem 2rem 3rem; background: url(../img/timelines/timeline-line.png) repeat-x 0 30rem; }
.timeline-text { background: #fff; position: relative; text-align: center; padding: 2rem 4rem; color: #666; margin: 0 auto; box-shadow: .6rem .6rem 0 $light-green; max-width: 64rem; min-height: 20rem; display: flex; justify-content: center; align-items: center;
    h2 { background: $yellow; position: absolute; left: 50%; top: 100%; transform: translate(-50%,-50%); margin: 0; color: #fff; padding: .75rem 1.5rem; font-size: 2.6rem; font-family: 'bebas_neuebold'; box-shadow: .3rem .3rem 0 $cream; }
    p { max-width: 100%; margin: 0;}
}

.timeline-image { position: relative; min-height: 20rem; }
.timeline-image-back { position: absolute; left: 50%; bottom: -10rem; transform: translateX(-50%); transition: all 1s ease .25s; opacity: 0; max-width: 100%; max-height: 100%;
    .slick-active & { bottom: 0; opacity: 1; }
}
.timeline-image-front { margin: 0 auto; display: block; position: absolute; z-index: 1; transform: translateX(-50%) scale(0); transition: all 1.5s ease .25s; max-height: 100%; max-width: 65%; left: 50%; bottom: -1rem; transform-origin: bottom center;
    .slick-active & { transform: translateX(-50%) scale(1); }
}

.timeline-image-front--push-down { bottom: -1rem; }
.timeline-image-front--big-push { bottom: -3rem; }
.timeline-image-front--flush { bottom: 0; }

@media only screen and (min-width: $sm-width) {
    .timeline { margin: 0 0 9rem; }
    .slide { padding: 4rem 4rem 6rem; background-position: 0 42rem; }
    .timeline-text { padding: 4rem; min-height: 15rem;
        h2 { font-size: 3.6rem; padding: 1rem 2rem; transform: translate(-50%,-1.5rem); }
    }
    .timeline-image { min-height: 31.2rem; }
    .timeline-image-front--push-down { bottom: -2rem; }
    .timeline-image-front--big-push { bottom: -6rem; }
    .timeline-holder { margin: 0 0 8rem; }

}

.timeline-error { color: #FF7058; padding: 1rem; border: 1px solid #FF7058; max-width: none; margin: -2rem 1rem 0; }
