/*! Lockup */

.lockup a { position: absolute; right: 0; top: 0; z-index: 100; height: 70px; }
.lockup-badge-type { position: absolute; right: 20px; top: 0; }
.lockup-garter { float: left; width: 70px; height: 70px; }

.site-title { text-transform: uppercase; font-size: 1.8em; color: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-family: 'Nutmeg-UltraBlack'; }

@media only screen and (max-width: 767px) {
    .lockup-badge-type { right: 0; width: 70px; height: auto; }
    .lockup a { right: 0;  height: auto; }
    .lockup img { width: 70px; }

}

@media only screen and (min-width: 768px) {
    .lockup-badge-type { right: 3rem; width: 80px; height: auto; }

    .lockup a { right: 3rem;  height: auto; }
	.lockup img { width: 80px; }
    .site-title { font-size: 2.4em; }
}