.progress { padding: 3rem 2rem; margin: 0 7rem 5rem; z-index: 11; position: relative;
    ol { display: flex; justify-content: space-between; margin: 0 auto; padding: 0; list-style: none; position: relative; max-width: 30rem;
        &::before { position: absolute; left: 0; top: 50%; right: 0; height: .1rem; background: #fff; display: block; content: ''; margin-top: -.1rem; }
    }
    li { width: 1.5rem; height: 1.5rem; border-radius: 50%; border: .1rem solid #fff; background: transparent; margin: 0; position: relative; z-index: 1; }
    .current { background: #fff !important; }
}

 @media only screen and (min-width: 708px) {
     .progress { margin: 0 7rem; }
 }