/*! Buttons */

// button,
.btn {
  margin: 1.6em 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-decoration: none;
  font-weight: 900;
  width: 16em;
  height: 3em;
  font-size: $bodycopy;
  border-radius: 3rem;
  transition: $transition;
  box-shadow: $box-shadow;
  border: none;
  text-transform: uppercase;
  outline: none;
  span {
    display: inline-flex;
    text-transform: lowercase;
    margin: 0 0 0 .2rem;
  }
  &:hover {
    border: 1px solid white;
    box-shadow: none;
  }
}

.no-touch .btn { outline: none;
  &:hover {
    border: 1px solid white;
    box-shadow: none;
  }
}

.btn--white {
  background-color: $white;
  color: $blue-dark;
  &:focus {
    border: .2rem solid $blue-dark;
  }
  &:hover {
    border: 1px solid $blue-dark;
    box-shadow: none;
  }
}

.btn--blue {
  background-color: $blue-dark;
  color: $white;
  &:focus {
    border: .2rem solid $white;
  }
}

.btn--yellow {
  background-color: $yellow;
  color: $blue-dark;
  &:focus {
    border: .2rem solid $blue-dark;
  }
  span {
    text-transform: none;
    margin: 0 0 0 .4em ;
  }
}

