.steps {
  margin: 1.2em auto 0;
  width: 100%;
  li {
    width: .6em;
    height: .6em;
    border: 1px solid $white;
    position: relative;
    border-radius: 50%;
    margin: 0 .8em 0 0;
    padding: 0;
    &.completed {
      background-color: $white;
    }
    &:after {
      content:'';
      width:.9em;
      position: absolute;
      top: 50%;
      left:100%;
      transform: translateY(-50%);
      border-bottom: 1px solid $white;
    }
    &:last-child {
      margin: 0;
      &:after {
        content:'';
        width: 0px;
      }
    }
  }
}

@media only screen and (min-width: $sm-width) {
  .steps {
    margin: -2.4em auto 2.4em;
  }
}
