/* Variables */

$sm-width: 600px; 
$md-width: 768px; 
$lg-width: 1024px;
$xl-width: 1200px;

$sm-width-under: 479px;
$md-width-under: 767px;
$lg-width-under: 1023px;
$xl-width-under: 1199px;

$xs-max-width: 480px;
$sm-max-width: 768px;
$md-max-width: 1024px;
$lg-max-width: 1366px;
$xl-max-width: 1366px;


$column-padding: 20px;
$column-gutter: 10px;
$column-border: #000;

$link-colour: #900;
$link-colour-hover: #000;

@mixin fade-transition {
    transition: background .25s ease-in-out, color .25s ease-in-out;
}

$border-radius: 5px; 
$border-radius-inner: 3px;

$panel-box-border-width: 1px;
$panel-box-border-colour: #ededed;
$panel-box-background: #fafafa;
$panel-box-border-radius: 4px;

$form-input-border-radius: $border-radius; 
$form-input-padding: 10px; 
$form-input-border: 1px solid #ccc;
$form-input-background-colour: #fff;
$form-input-transition: border-color .2s, box-shadow .2s;

$checkbox-on-colour: #000;
$radio-on-colour: #000;

$form-help-colour: #666;

$fontsPath: '../fonts';