/*! Buttons */

// button,
.btn {
  margin: 1.6em 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-decoration: none;
  font-weight: 900;
  width: 16em;
  height: 3em;
  font-size: $bodycopy;
  border-radius: 3rem;
  transition: $transition;
  box-shadow: $box-shadow;
  border: none;
  text-transform: uppercase;
  span {
    display: inline-flex;
    text-transform: lowercase;
    margin: 0 0 0 0.2rem;
  }
}

.no-touch .btn { outline: none;
  &:hover {
    opacity: .25;
    box-shadow: none;
  }
}

.btn--white {
  background-color: $white;
  color: $blue-dark;
  &:focus {
    border: .2rem solid $blue-dark;
  }
}

.btn--blue {
  background-color: $blue-dark;
  color: $white;
  &:focus {
    border: .2rem solid $white;
  }
}

.btn--yellow {
  background-color: $yellow;
  color: $blue-dark;
  &:focus {
    border: .2rem solid $blue-dark;
  }
}

.btn--sm {
  width: auto;
  height: auto;
  padding: .4rem .8rem;
  margin: 0;
  font-size: .75rem;
}
