
.keyword {

  text-align: center;
  font-weight: 900;
  border: none;
  text-transform: uppercase;
  line-height: 100%;
  border-radius: .2rem;
  &.sm {
    margin: 0.2rem;
    width: auto;
    height: auto;
    padding: 0 .8rem;
    height: 2.4em;
    font-size: calc(#{$bodycopy} * .85);

    white-space: nowrap;
    line-height: normal;
  }
  &.cobalt-light {
    background: $cobalt-light;
    color: $blue-dark;
  }
}
