/* VARIABLES */

$sm-width: 600px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1200px;
$xxl-width: 1440px;

$fontsPath: '../fonts';

/* COLOURS */

$blue: #8DA3AC;
$red: #C17E7E;
$purple: #8F8795;
$cream: #F3D1A2;
$black: #322722;
$white: #fff;
$grey: #C4C4C4;

$no-poverty: #E5243B;
$no-hunger: #DDA63A;
$good-health: #4C9F38;
$quality-education: #C5192D;
$gender-equality: #FF3A21;
$clean-water: #26BDE2;
$renewable-energy: #FCC30B;
$good-jobs: #A21942;
$industry-innovation: #FD6925;
$reduced-inequalities: #DD1367;
$sustainable-cities: #FD9D24;
$responsible-consumption: #BF8B2E;
//$climate-action: #BF8B2E;
$climate-action: #3F7E44;



$life-on-land: #56C02B;
$peace-and-justice: #00689D;
$life-below-water: #0A97D9;
$partnerships: #19486a;

$orange-gradient: linear-gradient(#F79E40 16.67%, #FD6500 85.03%);

/* Feedback*/
$feedback-negative: #C17E7E;
$feedback-positive: #8DA3AC;


/* Layout */
$border-radius: 10px;
$padding: 20px;
$box-shadow: 0px 0px 20px rgba(0,0,0,.25);

/* Typography */

$arvo: "Arvo", serif;
$normal: 400;
$bold: 700;
