
/*-----
TASK QUIZ
-----*/

.task-quiz-wrapper { padding:6rem 0; }

.task-quiz { position:relative;	background-color: $white; border: .3rem solid $black; margin:0 auto; max-width:70rem; width:100%; padding: 3.2rem;
	
	.task-quiz-title { font-size: 2.4rem; font-weight: $bold; line-height: 1.4; }
}

.task-quiz:before { content: "Task"; position: absolute;  top: -9rem; left: 0; text-transform: uppercase;
    font-size: 6rem; font-weight: $bold;  color: $white; }

@media(min-width: $md-width){
	.task-quiz { padding: 4rem 6rem; }

	.task-quiz:before { top: 16.5rem; left: -9.5rem; transform: rotate(270deg); transform-origin: 0 0;}
}