
.btn {
  display: block;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  line-height: 58px;
  font-size: 1em;
  letter-spacing: .055em;
  width: auto;
  max-width: calc(100% - 40px);
  margin: 40px auto;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  transition: all .3s;
  background-color: $purple;
  border: 4px solid $black;
  // margin-left: -2px;
  position: relative;
  span {
    border: 4px solid $black;
    width: calc(100% - 40px);
    // height: 100%;
    display: block;
    position: relative;
    top: -10px;
    left: 2px;
    font-size: .75em;
  }
}

.btn-primary span {
  background-color: $pink;
  color: $white;
  padding: 0 20px;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-lowercase{
  text-transform: lowercase;
}

input[type=submit] {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  transition: all .3s;
  background-color: $pink;
  border: 4px solid $black;
  height: 60px;
  line-height: 50px;
  font-size: 1em;
  letter-spacing: .055em;
  width: 100%;
  max-width: 260px;
  color: $white;
  margin: 30px 0;
}

.btn-success {
  height: 90px;
  line-height: 1;
  padding-top: 20px;
  margin-left: 0;
  b {
    text-transform: lowercase;
  }
  span {
    height: calc(100% - 40px);
    padding: 30px 30px !important;
    top: -30px;
  }
}

@media only screen and (min-width: $md-width) {
  .btn {
    max-width: 400px;
    margin: 40px auto;
    font-size: 1.25em;
    span {
      width: calc(100% - 60px);
      font-size: 1em;
    }
  }
  .btn-primary span {
    padding: 0 30px;
  }
}
