
.network-icon {
  width: 100px;
  height: 100px;
  padding: 30px;
  background-color: $white;
  border: 4px solid $black;
  margin: 0 0 40px;
}

.cols-key-features {
  width: 100%;
  .col {
    div {
      background-color: $white;
      border: 4px solid $black;
      padding: 30px;
      margin: 0 0 20px;
      img {
        height: 100px;
        width: auto;
        margin: 0 auto 20px;
        display: block;
        padding: 20px 0 10px;

      }
      p {
        font-weight: 400;
        margin: 0;
        text-align: center;
      }
    }
  }
}


.features  {
  h2 {
    margin: 0 0 20px;
  }
  p {
    font-size: .9em;
  }
}


@media only screen and (min-width: $lg-width) {

  .features  {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.15em;
    }
  }

  .cols-key-features  {
    .col {
      width: calc(33.3% - 28px);
      margin: 0 10px;
      display: inline-block;
      vertical-align: top;

      div {
        width: calc(100% - 58px);
        padding: 20px 30px 40px;
        p {
          font-size: .75em;
        }
      }
    }
  }

  .cols-key-features-linkedin .col {
    width: calc(50% - 28px);
  }

  .cols-key-features-youtube{
    .col {
      width: calc(25% - 28px);
      div {
        height: 170px;
      }
      h2 {
        font-size: .85em;
      }
    }
    .col:first-child {
      margin-top: 0;
    }
  }


  .cols-key-features-facebook {

    width: 100%;
    .col {
      width: 100%;
      display: flex;
      justify-content:center;

      div {
        width: calc(33.3% - 68px);
        float: left;
        margin: 10px;
      }
    }
  }
}

@media only screen and (min-width: $xl-width) {

  .features h2 {
    font-size: 1.5em;
  }

  .cols-key-features-youtube{
    .col {
      div {
        height: 200px;
      }
      h2 {
        font-size: 1.25em;
      }
    }
  }

}

.cols-key-features .col div .messages{
  height: 60px;
}

.cols-key-features .col div .retweets{
  height: 120px;
}

.cols-key-features .col div .rate{
  height: 120px;
  margin-bottom: 0;
}

.cols-key-features .col div .favourites{
  height: 80px;
  margin-bottom: 22px;
}

.cols-key-features .col div .subscribe{
  height: 80px;
  margin-bottom: 22px;
}
