$diagonal-gradient: linear-gradient(150.65deg, #77C9FD 43.09%, #D07DFB 100%), #C4C4C4;
$vertical-gradient: linear-gradient(180deg, #58B4FB 0%, #8FA4FC 85.64%), #FAFAFA;


$error: #EB5757;
$success: #219653;

$urgent: #EB5757;

$body-bg: #FEFBF7;
$body-colour: #444;
$recessed: #828282;

$primary-colour: #444;

$btn-bg: #219653;
$btn-fg: #fff;