.task-7 {

  .holder {
    padding: 0 1.2rem;
    height: auto;
    min-height: 100%;
  }

  .speech-bubble__holder {
    height: 410px;
  }
  .dropdown {
      position: relative;
  }

  .dropdown-menu {
      position: absolute;
      left: 0;
      top: calc(100%+ 0.25rem);
      background-color: white;
      padding: 0.75rem;
      border-radius: 0.25rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transform: translateY(-10px);
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }

  .dropdown-menu.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
  }
  .container {
    flex-direction: column;
    width:  100%;
  }
  .cell {
    display: flex;
    padding: .2rem;
    margin: 0.05rem;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    align-items: center;
    background: white;
    color: $blue-dark;
    font-size: calc(#{$bodycopy} * 1.5);

    border: none;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .input {
    flex-direction: column;
    .caption {
      order:2;
    }
  }
  .input,
  .output {
    background: transparent;
    flex-grow: 1;
    // width: calc(100% - .8rem);
  }

  .input, .output-grid {
    background: rgba(255,255,255, .2);
    padding: .8rem;
    margin: .4rem;
    border-radius: 1.6rem;
  }
  .kernel {
      margin: .8rem 0;
      display:flex;
      background: white;
      order:1;


      .cell {
        border: .12rem solid $yellow;
        background-color: rgba(254,230,0,.2);
        color: $blue-dark;
        width: 3.2rem;
        height: 3.2rem;
        font-weight: bold;

      }
      .row:nth-child(2) {
        .cell:nth-child(2) {
          background-color: rgba(254,230,0,.75);
        }
      }

  }
  .output {
        transform: scale(0.75);
        align-items: center;
        justify-content: center;
        margin: 0 0 .8rem;

        > div {
          margin: 0 .2rem;
        }
        p {
          color: white;
          font-weight: bold;
          margin: .2rem;
        }
    }

    .cell--focused-cell {
      padding: 0;
      position: relative;
      min-width: 3.2rem;
      height: 3.2rem;
      border-radius: .2rem;
    }

    .focused-cell {
        background-color: rgba(0,203,116,.2);
        width: 100%;
        height: 100%;
        border: .24rem solid $green;
        position: absolute;

    }

    .addition {
        width: calc(100% + 1.2rem);
        position: relative;
        left: -.6rem;

        p {
          width: 33.3%;
          text-align: center;
        }
      }

      .inner-container {

          background-color: $blue-dark;
          border-radius: .4rem;
          padding: .4rem;
          align-items: center;
          .cell {
            width: 2.4rem;
            height: 2.4rem;
            background: white;
          }
          .cell-content {
              padding:0;
              position: relative;
              align-items: center;

          }
          .cell:last-child{
            width: 2.4rem;
            height: 2.4rem;
            border: .2rem solid $yellow;
            background-color: hsl(54,95%,90%);
            // position: absolute;
            font-weight: bold;

          }

        }

        .filter-in-action {
            align-items: center;
            justify-content: center;
            margin: 0 0 .8rem;

            > div {
              margin: 0 .2rem;
            }
            p {
              color: white;
              font-weight: bold;
              margin: .2rem;
            }
        }
        .cell--focused-cell {
          padding: 0;
          position: relative;
          min-width: 3.2rem;
          height: 3.2rem;
        }

        .focused-cell {
            background-color: rgba(0,203,116,.2);
            width: 100%;
            height: 100%;
            border: .24rem solid $green;
            position: absolute;
            font-weight: bold;
            font-size: calc(#{$bodycopy} * 1.75);
            color: $blue-dark;
            text-align: center;
            padding: 0;

        }

        .addition {
            width: calc(100% + 1.2rem);
            position: relative;
            left: -.6rem;

            p {
              width: 33.3%;
              text-align: center;
            }
          }

        .output-grid {
          flex-grow: 1;
          .btn {
            order: 3;
          }
        }

}

@media only screen and (min-width: $md-width) {
  .task-7 {
    .holder {
      padding: 2.4rem 4.8rem;
    }
    .speech-bubble__holder {
      height: 340px;
    }
    .output {
      transform: scale(1);
    }
    .input, .output {
      margin: 1.6rem;
    }
    .input, .output-grid {
      padding: 1.2rem;

    }
  }
}


@media only screen and (min-width: $lg-width) {
  .task-7 {
    .container {
      flex-direction: row;

    }
  }
}
