.task-1 {
    .drop-areas__container {
        width: 66.6%;
    }
    .drop-items__container {
        width: 33.3%;
        flex-direction: column;
    }

    .heading,
    .drop-area,
    .drop-item {
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    .heading {
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        font-size: calc(#{$bodycopy} * 0.55);
        flex-direction: column;
        width: 50%;
        margin: 0.2rem 0;
        img {
            width: auto;
            height: 70px;
            margin: 0.2rem 0;
        }
    }
    .answer {
        cursor: grab;
    }

    .drop-area,
    .drop-item {
        font-size: calc(#{$bodycopy} * 0.75);
        border-radius: 0.4rem;
        height: 90px;
    }

    .drop-item {
        margin: 0.4rem 0;
        height: 90px;
        padding: 0.4rem;
        &:last-child {
            margin: 0.4rem 0;
        }
        &.wrong {
            background-color: $red;
            color: white;
        }
        &.correct {
            background-color: $green;
            color: white;
        }
    }

    .drop-area {
        padding: 0.2rem;
        border: 0.1rem dashed white;
        margin: 0.4rem;
        width: 50%;
        .drop-item {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (min-width: $md-width) {
    .task-1 {
        .drag-drop__container {
            flex-direction: column;
        }
        .drop-areas__container,
        .drop-items__container {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .drop-areas__container {
            flex-direction: row;
        }

        .drop-area__container {
            flex-direction: column;
            width: calc(20% - 0.8rem);
            margin: 0.4rem;
        }
        .heading {
            font-size: $bodycopy;
            flex-direction: column;
            width: 100%;
            img {
                margin: 0.4rem 0;
                width: 100%;
                height: auto;
            }
        }
        .drop-item {
            max-width: 20%;
            padding: 0.4rem;
        }

        .drop-area,
        .drop-item {
            margin: 0.4rem;
            font-size: $bodycopy;
            height: 180px;
            width: 100%;
            &:last-child {
                margin: 0.4rem;
            }
        }
        .drop-area {
            margin: 0;
            .drop-item {
                max-width: 100%;
                height: 100%;
                margin: 0;
            }
        }
    }
}
