/* Variables */

$sm-width: 600px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1200px;


/* COLOURS */

$white: #FFF;
$light-blue: #BFEFF7;
$dark-blue: #2C315D;
$yellow: #FFA733;
$light-yellow: #EFEBDE;
$green: #97D43A;
$dark-green: #67943c;
$pink: #e9417B;
$grey: #D3DED6;
$dark-grey:#c4cec7;

$panel: $white;

$border-radius: 5px;

$tip: $light-blue;
