/*! Helpers */

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after,
.clear-both { clear: both; }

.hide { display: none !important; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main-image { margin: 2rem auto 3rem; max-width: 100%; }

@media only screen and (min-width: $md-width) {
.main-image { margin: 0 auto 4rem; }    
}