/*! Typography */

html {
  font-size: 100%;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: $white;
  -moz-osx-font-smoothing: grayscale; /* Fixes issues with blurred fonts in Firefox */
}


h1 {
  font-size: $section-heading;
  margin: .4em 0 1.6em;
  &.congratulations {
    font-size: 175%;
  }
  + .col-single {
    margin: -2.4em auto 2.4em;
  }
}

h2 {
  font-size: $section-subheading;
  margin: 0 0 .8em
}


h1, h2 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}



p, li {
  font-size: $bodycopy;
  margin: 0 0 $bodycopy;
  &.uppercase {
    text-transform: uppercase;
  }
  &.bold {
    font-weight: 700;
  }
}

p:last-child {
  margin: 0 auto;
}

p + h2 {
  margin: 2.4em 0 .8em;
}

.disclaimer {
  font-size: 60%;
}

@media only screen and (min-width: $md-width) {

  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: $lg-width) {
  html {
    font-size: 125%;
  }
}
