body { background: #233975; }

.body-text { max-width: 64rem; margin: 0 auto; text-align: left; padding: 2rem; }
.badge-content { overflow: hidden; background: linear-gradient(to bottom, #0f1832 0%,#233975 700px); }
.step-2 { background: #e41570; background: linear-gradient(to bottom, #7F0C3E 0%,#e41570 700px); }
.step-3 { background: #04243b; }

@media only screen and (max-width: 767px) {
.badge-title--content-page { display: none; }
.show-on-mobile { display: block; color: #c90; font-size: 3rem; padding: 9rem 2rem 0; text-align: left; }
}
@media only screen and (min-width: 768px) {
.badge-title--content-page { display: block;  }
.show-on-mobile { display: none;}
}

.step { color: #fff; background: rgba(0,0,0,.3); padding: 1rem 2rem; border-radius: 10rem; display: table; font-size: 1.4rem; position: absolute; top: 2rem; left: 50%; transform: translateX(-50%); }

.cms-systems { background: #f0c808; color: #333; padding: 2rem 0; 
    h2 { color: #333; }
}
@media only screen and (min-width: 768px) {
.cms-systems { padding: 5rem 0; }
}

.page-complete--step3 { background: #04243b; padding: 6rem 0; 
    .btn--primary { background: #ea4728; }
}