/*-----
HEADER
-----*/

header { position:absolute; top:0; left:0; right:0; z-index:10; display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; flex-direction: row;
	.wrapper { display: flex; flex-wrap: wrap; align-items: center; flex-direction: row; max-width: 100%; width:100%;  justify-content: space-between; padding:0 1rem; }
}

.logo { 
	img { width: 70px; }
}

header .wrapper { justify-content: flex-end; }

@media(min-width: $md-width){
	header {
		.wrapper { padding:0 3rem; }
	}

	.logo img { width: 80px; }
	
}
