/*! Tasks */

.task { background: #ededed; padding: 20px; margin: 30px 0; }
.task li,
.task p { font-size: 1.4em; }

.image-holder { margin: 30px 0; 
    img { width: 100%; height: auto; box-shadow: 0 0 20px rgba(0,0,0,.4); }
}

.dropzone { background: #fff; height: 170px; margin: 0 0 10px; position: relative; padding: 50px 10px 50px 40px; font-family: monospace; border: 2px solid #fff; }
.dropzone + .dropzone { margin: 0; }
.dropzone--one-line { padding: 0 10px; height: 45px; line-height: 45px; font-size: 1.6em; }
.dropzone--one-line + .dropzone--one-line { margin: 0 0 10px; }
.dragging .dropzone:not(.not-dropzone) { border: 2px dotted #f06f46 !important; }

.dropzone-indent-1 { margin-left: 30px !important; }
.dropzone-indent-2 { margin-left: 60px !important; }
.dropzone-indent-3 { margin-left: 90px !important; }

.dropzone p { margin: 0; }

.opening-tag,
.closing-tag { position: absolute; left: 10px; }

.opening-tag { top: 10px; }
.closing-tag { bottom: 10px; }

.drag-options { padding: 0 0 0 20px; }

.drag-option { display: block; padding: 10px 10px 10px 55px; background: #455a64; color: #fff; text-decoration: none; position: relative; }
.drag-option:before { display: block; content: ''; position: absolute; height: 100%; width: 45px; background: rgba(0,0,0,.2) url(../img/drag-icon.png) no-repeat center center; left: 0; top: 0; }

.drag-option.removed { visibility: hidden; pointer-events: none; }

.task-instructions { font-size: 1.6em; margin: 0 0 20px; font-family: mullerlight; }

.lets-move-on,
.reveal-section-1,
.reveal-section-2 { opacity: 0; transition: opacity .25s ease; pointer-events: none; }
.lets-move-on.visible,
.reveal-section-1.visible,
.reveal-section-2.visible { opacity: 1; pointer-events: auto; }

.correct-message { padding: 78px 20px 25px 20px; border: 1px solid #ccc; border-radius: 5px; background: #fff; margin: 0 auto 30px; position: relative; min-height: 78px; font-size: 1.6em; text-align: center; background: #78ab55; color: #fff; }
.tick-holder { position: absolute; left: 50%; top: 25px; margin: 0 0 0 -25px; background: #fff; border-radius: 50%; width: 50px; height: 50px; display: block; padding: 14px 0 0; }
.correct-message svg { width: 30px; height: 23px; }

.task .image-holder { margin: 0 0 15px; }

.image-expander { margin: 0 0 15px; position: relative; }
.image-expander .caption { position: absolute; left: 10px; bottom: 13px; background: rgba(0,0,0,.7); color: #fff; padding: 5px 10px; margin: 0; font-size: 1.3em; }

@media only screen and (min-width: $md-width) {
  .task { margin: 30px -20px; }
  .image-expander { margin: 30px -20px; }
  .task li,
  .task p { font-size: 1.6em; }  
}

@media only screen and (min-width: $lg-width) {
  .task { margin: 30px -60px; padding: 20px 60px; }
  .image-expander { margin: 30px -60px; }
  .task.task-little-padding { padding: 20px; }
  .task li,
  .task p { font-size: 1.6em; }  
}

.definition { background: #ededed; padding: 40px 20px; text-align: center; position: relative; margin: 0 0 30px;
    footer { position: absolute; right: 10px; bottom: 10px; text-transform: uppercase; font-family: mullerlight; font-size: 1.2em; }
}

.component-dropzones { position: relative; 
    .dropzone { position: absolute; padding: 0; background: none; border-color: transparent; }
 }
 
.img-dropzone-1 { left: 0; top: 0; width: 100%; height: 8%; }
.img-dropzone-2 { left: 0; top: 8%; width: 100%; height: 40%; }
.img-dropzone-3 { left: 100px; top: 48%; right: 100px; height: 8%; }
.img-dropzone-4 { left: 100px; top: 56%; right: 100px; height: 11%; }
.img-dropzone-5 { left: 0; top: 67%; width: 100%; height: 32%; }

.dropzone .component-name,
.dropzone .class-name { background: #f06f46; padding: 5px 10px; font-family: mullerregular; font-size: 1.4em; width: 200px; position: absolute; left: 50%; top: 50%; margin:-18px 0 0 -100px; opacity: 0; transition: all .25s; text-align: center; text-transform: uppercase; color: #fff; }
.dropped.dropzone .component-name,
.dropped.dropzone .class-name { opacity: 1; box-shadow: 0 0 20px rgba(0,0,0,.6); }

.code-window { border: 5px solid #ededed; padding: 10px 0 50px; font-size: 1.6em; position: relative; }
.code-window-scroll { overflow: auto; padding: 0 20px 20px; }

.preview-button { position: absolute; bottom: 0; right: 0; display: block; width: 100%; height: 50px; line-height: 50px; text-align: center; text-transform: #fff; text-transform: uppercase; background: #455a64; color: #fff; text-decoration: none; }

@media only screen and (min-width: $md-width) {
  .code-window  { margin: 30px -20px; }
}

@media only screen and (min-width: $lg-width) {
  .code-window  { margin: 30px -60px; }
}

.line-to-copy { color: #f06f46; word-break: break-all; }
xmp { padding: 0; margin: 0; }
.enter-code { padding: 4px 0 0; position: relative; 
    .line-number { position: absolute; left: 0; top: 6px; font-family: monospace; font-size: 14px; }
}
.enter-code textarea { border: 1px solid transparent; width: 100%; font-family: monospace; background: #fff; word-break: break-word; padding: 0; resize: none; transition: border-color 1s; font-size: 14px; }
.enter-code textarea.small { height: 36px; padding-left: 24px; }
.enter-code textarea:focus { border-color: #f06f46; }
.enter-code textarea.task-4-3 { height: 110px; padding-left: 49px; }
.enter-code textarea.task-3-3 { padding-left: 105px; }

.copy-this { font-size: 14px; padding:10px; background: #ededed; color: #333; text-align: left; }
.task-number { background: #f06f46; color: #fff; width: 24px; height: 24px; line-height: 24px; text-align: center; border-radius: 50%; margin: 0 5px 0 0; display: inline-block; font-weight: 700; }

.selection-error { position: absolute; left: 50%; top: 50%; width: 300px; height: 180px; display: flex; align-items: center; justify-content: center; color: #fff; background: #900; margin: -90px 0 0 -150px; box-shadow: 0 0 20px rgba(0,0,0,.4); transform: scale(.6,.6); opacity: 0; visibility: hidden; pointer-events: none; transition: all .25s ease; }
.selection-error p { font-size: 1em; text-align: center; }
.selection-text { text-align: center; font-family: monospace; font-size: 110%; background: #fff; padding: 5px 10px; color: #333; display: block; text-align: center; margin: 3px 0 10px; }
.selection-error.visible { visibility: visible; opacity: 1; transform: scale(1,1); }

.code-selection-input { width: 100%; border: none; font-family: monospace; padding-left: 80px; font-size: 14px; height: 40px; padding-top: 2px; }

.error { background: #900; color: #fff; text-align: center; opacity: 0; transition: all .25s ease; pointer-events: none; border-radius: 5px; height: 0; overflow: hidden;
p { margin: 0; }
}
.error.visible { opacity: 1; pointer-events: auto; height: auto; padding: 20px; }

.classes-dropzones { position: relative; 
	.dropzone { position: absolute; padding: 0; background: transparent; border-color: transparent; }
}
.drag-options--carousel { z-index: 1000;
	.drag-option { z-index: 4000; }
}
.class-dropzone-1 { left: 0; top: 0; width: 15%; height: 100%; }
.class-dropzone-2 { right: 0; top: 0; width: 15%; height: 100%; }
.class-dropzone-3 { left: 17%; top: 0; right: 17%; height: 75%; }
.class-dropzone-4 { left: 35%; bottom: 0; right: 35%; height: 15%; }


.slider-class { font-family: monospace; background: #ededed; text-align: center; padding: 20px; border-radius: 5px; }
.slider-class span { color: #455a64; }


.grid-preview { background: #ededed; height: 165px; border-radius: 5px; position: relative; margin: 0 0 20px; }
.grid-col-preview { display: block; float: left; width: 8.33333%; text-align: center; height: 165px; line-height: 165px; border-left: 1px solid #fff; font-size: 1.3em; }
.grid-col-preview:first-child { border-left: none; }

.grid-col-demo,
.grid-offset-demo, { height: 165px; position: absolute; left: 0; top: 0; background: #f06f46; transition: all .25s ease; border-radius: 5px; width: 0; text-align: center; line-height: 165px; color: #fff; font-size: 1.2em; overflow: hidden; }

.grid-offset-demo { background: #455a64; }

$columns: 12;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
  }
}

.offset-1 { margin-left: 8.33333%; }
.offset-2 { margin-left: 16.6667%; }
.offset-3 { margin-left: 25%; }
.offset-4 { margin-left: 33.33333%; } 


@media only screen and (min-width: $md-width) {
  .grid-preview  { margin: 30px -20px; }
}

@media only screen and (min-width: $lg-width) {
  .grid-preview { margin: 30px -60px; }
}

.break-words { word-break: break-all; }


@media only screen and (max-width: $sm-width-under) {
  .drag-options { padding: 20px 0 0; }  
  .img-dropzone-3,
  .img-dropzone-4 { left: 20px; right: 20px; }
  .code-overlay { padding: 40px 0 0; height: 100%; top: 0; left: 0; right: 0; }
 .enter-code textarea.small { height: 80px; }
 .code-selection-input { height: 130px; }
 .class-dropzone-4 { height: 25%; left: 17%; right: 17%; }
 .dropzone .component-name, .dropzone .class-name { font-size: 1.3em; width: 150px; margin-left: -75px;}
.yes-no-list li { width: 100%; padding: 5px; font-size: 1.2em; }
.yes-no-list li:nth-child(2n),
.yes-no-list li:nth-child(2n+1) { border: none; }
}