/*! Fonts */
@font-face {

    font-family: 'FiraMono-Bold';
    src: url('../fonts/FiraMono-Bold.eot');
    src: url('../fonts/FiraMono-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraMono-Bold.woff2') format('woff2'),
         url('../fonts/FiraMono-Bold.woff') format('woff'),
         url('../fonts/FiraMono-Boldt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FiraMono-Regular';
    src: url('../fonts/FiraMono-Regular.eot');
    src: url('../fonts/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraMono-Regular.woff2') format('woff2'),
         url('../fonts/FiraMono-Regular.woff') format('woff'),
         url('../fonts/FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FiraSans-Book';
    src: url('../fonts/FiraSans-Book.eot');
    src: url('../fonts/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraSans-Book.woff2') format('woff2'),
         url('../fonts/FiraSans-Book.woff') format('woff'),
         url('../fonts/FiraSans-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FiraSans-ExtraBold';
    src: url('../fonts/FiraSans-ExtraBoldt.eot');
    src: url('../fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
         url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
         url('../fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
