.box {
  background-color: $white;
  color: $blue-dark;
  padding: $padding;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  + h1 {
    margin: 3.2rem 0 1.2rem;
  }
  .col {
    &:last-child {
      margin: 0;
    }
  }
}

.box__title {
  font-size: $box-title;
  margin: 0 0 .4em;
}


@media only screen and (min-width: $md-width) {
  .box {
      padding: $padding-lg;
      .tooltip {
        border-color: $blue-dark;
      }
  }

}
