.boxed {
  border-radius: 1.6rem;
  padding: $space-small;

  @media (min-width: $md-width) {
    padding: $space-large;
  }
}

.boxed-small {
  border-radius: 0.4rem;
  padding: $space-small;
}

.boxed--blue-gradient-1 {
  background: linear-gradient(1.77deg, #0071C5 22.54%, #01DFF4 98.5%);
  color: $white;
}

.boxed--cobalt {
  background-color: $cobalt-1;
  color: $blue-3;
  margin-bottom: $space-large;
}

.boxed--blue-5 {
  background-color: $blue-5;
  color: $blue-3;
}

.boxed--confused {
  background-image: url('/badge-assets/ai-inference/_global/svg/illustration--robot-confused.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 25.7rem;

  @media (min-width: $md-width) {
    background-position: bottom right;
    padding-bottom: $space-large;
  }
}

.boxed--white {
  background-color: $white;
  color: $blue-3;
  @media (min-width: $md-width) {
    &.margin-left {
      margin-left: 80px;
    }
  }


  &.box--install-download {
    margin-bottom: $space-large;
    padding: $space-large;

    p, label {
      display: block;
      font-weight: bold;
      font-size: $r-small;
      margin-top: $space-x-small;
      text-align: center;
    }
  }

  & ol {
    list-style-position: inside;

    & > li {

      & > .code-sample {
        margin-top: $space-xxxx-small;
        width: fit-content;
      }
    }

    & .code-sample-list-item--correct {
      color: $green;
    }

    & .code-sample-list-item--incorrect {
      color: $red;
    }
  }
}

.boxed--full-and-centre {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
