/*! Buttons */

// button,
.btn {
  border: 0.2rem solid transparent;
  border-radius: 10rem;
  box-shadow: $box-shadow;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  padding: $space-xx-small $space-medium;
  text-align: center;
  transition: $transition;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.btn--white {
  background-color: $white;
  color: $blue-dark;

  &:focus {
    border-color: $blue-dark;
  }
}

.btn--blue {
  background-color: $blue-dark;
  color: $white;

  &:focus {
    border-color: $white;
  }
}

.btn--yellow {
  background-color: $yellow;
  color: $blue-dark;

  &:focus {
    border-color: $blue-dark;
  }
}

.btn--xsm {
  font-size: $r-x-small;
  margin: 0;
  padding: $space-xxxx-small $space-x-small;
}

.btn--sm {
  font-size: $r-x-small;
  margin: 0;
  padding: $space-xxxx-small $space-x-small;
}

.btn--right {
  display: block;
  margin-left: auto;
}

.icon-btn {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}
