/* Variables */

$sm-width: 600px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1366px;


/* COLOURS */


$cream: #E8CEAB;
$brown: #794E29;
$light-blue: #A2E1E7;
$dark-blue: #0096E6;

$white: #FFF;
$purple: #8697cb;
$blue: #00B4E5;
$yellow: #FFAE00;
$red: #E6615F;
$green: #037771;
$light-green: #A8D0CE;


$border-radius: 4px;
