/*! Buttons */

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-decoration: none;
  transition: background .2s, border-color .2s, color .2s;
  color: #fff;
  text-transform: uppercase;
  background: $yellow;
  height: 3em;
  font-family: 'bebas_neuebold', sans-serif;
  letter-spacing: .055em;
  border: none;
  font-size: 1.5em;
  width: auto;
  white-space: nowrap;
}

.btn:hover { background: $red; }
