/* Variables */

$sm-width: 600px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1200px;

$fontsPath: '../fonts';

/* COLOURS */

$white: #FFF;
$pink: #FF3366;
$red: #EC1016;
$orange: #FF9020;
$yellow: #FFD200;
$green: #ADD100;
$blue: #61BEDD;
$dark-blue: #2c315d;

$grad-dark-blue: linear-gradient(#000000, #2c315d);
$grad-dark-blue-2: linear-gradient(#000000 3%,
#2c315d 45%);
$grad-light-blue: linear-gradient(#005A7A, #61BEDD);
$grad-yellow: linear-gradient(#F47921, #FFD200);
$grad-green: linear-gradient(#2D9042, #ADD100);
$grad-red: linear-gradient(#8D2619, #EC1016);
$grad-orange: linear-gradient(#C84121, #FF9020);
$grad-pink: linear-gradient(#8F0C59, #FF3366);


$grad-dark-blue-3: linear-gradient(#000000 2.5%,
  #2c315d 38.5%);

  $grad-dark-blue-6: linear-gradient(#000000 6%,
    #2c315d 42%);

  $grad-dark-blue-4-success: linear-gradient(#000000 8%,
    #2c315d 40%);

$grad-dark-blue-2-success: linear-gradient(#000000 5%,
  #2c315d 34%);

  $grad-dark-blue-5-success: linear-gradient(#000000 5.5%,
    #2c315d 42%);

    $grad-dark-blue-7-success: linear-gradient(#000000 8%,
      #2c315d 46%);


/* Layout */
$border-radius: 10px;
$padding: 20px;
$box-shadow: 0px 0px 20px rgba(0,0,0,.25);

/* Typography */

$bebas: 'bebas_neuebold', sans-serif;
$oswald: 'Oswald', sans-serif;
