/* Variables */

$sm-width: 600px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1200px;


/* COLOURS */

$white: #FFF;
$purple: #5E4A56;
$cream: #E8CEAB;
$brown: #794E29;
$light-blue: #A2E1E7;
$dark-blue: #0096E6;
$yellow: #F7B03E;
$red: #E84F4F;
$green: #8Dc63F;
$light-green: #D8E5C6;

$task: $light-blue;
