.btn { font-family: 'Open Sans', sans-serif; display: inline-block; background: $btn-bg; color: $btn-fg; border-radius: .5rem; font-size: 1.8rem; text-align: center; padding: 1.4rem 3rem; text-decoration: none; text-transform: uppercase; 
    &:hover { background: $primary-colour; }
}