.time-for-box { background: #444; padding: 2rem 4rem; color: #fff; text-align: center; width: 38rem; max-width: 80%; 
    p { font-size: 1.8rem; margin: 0; line-height: 2.4rem;
        span { font-size: 3.6rem; display: block; line-height: 3.6rem; padding: .7rem 0; }
    }
}