.task-1 {
  p.correct {
    border: 4px solid $green;
  }

  select.correct {
    appearance: none;
    background-color: $green;
    background-image: url("../svg/icon--check-correct.svg");
    background-position-x: 95%; /* SNAG: changed position from 97% */
    background-position-y: 50%;
    background-repeat: no-repeat;
    border: 1px solid $white;
    color: $white;
    pointer-events: none;
  }

  p.wrong {
    border: 4px solid $red;
  }

  select.wrong {
    appearance: none;
    background-color: $red;
    background-image: url("../svg/icon--check-wrong.svg");
    background-position-x: 95%; /* SNAG: changed position from 97% */
    background-position-y: 50%;
    background-repeat: no-repeat;
    border: 1px solid $white;
    color: $white;
  }
}
